<br><br><br>
<div *ngFor = "let match of matchesList; index as i" style = "width:60%">
  <mat-card style="left:35%">
    <mat-card-title>{{match.movieName}} with {{match.username1}},{{match.username2}}</mat-card-title>
    <mat-card-content *ngIf="match.isDateSet">Date set for: {{match.date}}</mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click) = "getMovieDetails(match.movieId,i)">
        <div *ngIf = "!showMovieDetail[i]">Get Movie Details </div>
        <div *ngIf = "showMovieDetail[i]">Collapse Movie Details </div>
      </button>
      <button mat-button (click) = "setDate(match._id,i)">Set new date</button>
      <button mat-button (click) = "onRemove(match)"><mat-icon>delete</mat-icon> Delete Match </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf = "showMovieDetail[i]" style = "width:60%;left:30%">
    <mat-card-title>
      <a href="{{movie[i].movie_imdb_link}}">{{movie[i].movie_title}} ( {{movie[i].title_year}} ) </a>
    </mat-card-title>
    <mat-card-content>
      <p> Director: {{movie[i].director_name}}</p>
      <p> Duration: {{movie[i].duration}}</p>
      <p> Genres: {{movie[i].genres}}</p>
      <p> IMDb rating: {{movie[i].imdb_score}}</p>
    </mat-card-content>
  </mat-card>
  <br><br><br>
  <mat-card *ngIf = "showDatePicker[i]" style = "width:60%;left:30%">
    <mat-card-title> Pick a new date </mat-card-title>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="getFormControl(i)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-card-actions align="start">
      <button mat-button (click) = "updateDateSet(i)">Update</button>
    </mat-card-actions>
  </mat-card>
  <br><br>
</div>
