<form [formGroup]="userPreferenceForm" (ngSubmit)="onSubmit()">
  <mat-card class="genre-form">
    <h3> Genres </h3>
    <mat-card-content>
      <section class="example-section">
        <ng-container formArrayName = "genreControls">
          <div *ngFor = "let _ of genreControls.controls; index as i;">
            <mat-checkbox [formControlName]="i">
              {{allGenres[i]}}
            </mat-checkbox>
          </div>
        </ng-container>
      </section>
    </mat-card-content>
  </mat-card><br>
  <mat-card class="genre-form">
    <h3> IMDb rating greater than </h3>
    <mat-card-content>
      <mat-slider
        thumbLabel
        tickInterval="1"
        step="1"
        min="0"
        max="10"
        aria-label="units" formControlName="imdb"></mat-slider>
    </mat-card-content>
  </mat-card><br>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
