<mat-grid-list cols="5" rowHeight="1:3">

  <mat-grid-tile [colspan]="tiles[0].col" [rowspan]="tiles[0].row" [style.background]="sideBarColor">
    <div class="mat-grid-display">
    <mat-nav-list>
      <a mat-list-item routerLink = "/preferences"> User Preferences </a>
      <a mat-list-item routerLink = "/friends"> Friends </a>
    </mat-nav-list>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="tiles[1].col" [rowspan]="tiles[1].row" stylle="display: block !important">
    <div class="mat-grid-display">
    <router-outlet></router-outlet>
    </div> 
  </mat-grid-tile>

</mat-grid-list>
